<div (click)="abrirModal(searchLocationModal)">
    <input *ngIf="location_selected==null" disabled type="text" placeholder="Seleccionar ubicación" class="form-control"
        required>
    <input *ngIf="location_selected!=null" disabled type="text"
        placeholder="{{location_selected.location.edificio}} | {{location_selected.location.planta}} | {{location_selected.location.ubicacion}}"
        class="form-control" required>
</div>
<!-- The modalGroupObject -->
<ng-template #searchLocationModal class="modal">
    <!-- Modal content -->
    <div class="modal-content p-3">
        <h5>{{titulo_ubicacion}}</h5>
        <input [formControl]="busqueda" id="grupoDeObjetos" type="text"
            placeholder="Escribe tu búsqueda o el nombre del nuevo objeto">
        <div class="alert alert-secondary" id="alertaCreacion" role="alert">
            Escribe el nombre del objeto antes de crearlo
        </div>
        <div class="d-grid gap-2">
            <a style="cursor : pointer;" (click)="crearUbicacion()" class="btn btn-primary">
                {{titulo_boton}}
            </a>
        </div>
        <div *ngFor="let loc of locations_search">
            <li *ngIf="loc.tipo==0" style="cursor:pointer" (click)="procesarPlantas(loc)"
                class="list-group-item list-group-item-action">
                {{loc.location.edificio}}
            </li>
            <li *ngIf="loc.tipo==1" style="cursor:pointer" (click)="procesarUbicaciones(loc)"
                class="list-group-item list-group-item-action">
                {{loc.location.planta}}
            </li>
            <li *ngIf="loc.tipo==2" class="list-group-item list-group-item-action">
                <a style="cursor:pointer" (click)="this.location_selected = loc; this.send_location.emit(this.location_selected.location.idUbicacion);
                this.cerrarModal(); procesarEdificios();">{{loc.location.ubicacion}}</a>
                <fa-icon *ngIf="loc.tipo==2"
                    (click)="this.location_to_delete=loc.location; cerrarModal(); abrirModal(deleteLocationModal); objetosPorUbicacion(); "
                    [icon]="basura" class="text-danger float-end">
                </fa-icon>
            </li>

        </div>
        <div *ngIf="this.estado==0" class="d-grid gap-2">
            <a style="cursor : pointer;" (click)="cerrarModal()" class="btn btn-secondary">
                Cerrar
            </a>
        </div>
        <div *ngIf="this.estado==1" class="d-grid gap-2">
            <a style="cursor : pointer;" (click)="procesarEdificios()" class="btn btn-secondary">
                Atrás
            </a>
        </div>
        <div *ngIf="this.estado==2" class="d-grid gap-2">
            <a style="cursor : pointer;" (click)="procesarPlantas({location: this.create_location, tipo: 1})"
                class="btn btn-secondary">
                Atrás
            </a>
        </div>
    </div>
</ng-template>
<!-- The modalGroupObject -->
<ng-template #deleteLocationModal class="modal">
    <!-- Modal content -->
    <div class="modal-content p-3">
        <div class="modal-header">
            <button type="button" class="close" aria-label="Close" (click)="cerrarModal()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <h5>La ubicación se encuentra actualmente en uso traslada o elimina estos objetos</h5>
        <div *ngFor="let obj of objects_by_location">
            <li style="cursor:pointer" (click)="abrirObjetoVentana(obj.idObjeto)"
                class="list-group-item list-group-item-action">
                {{obj.nombre}}
            </li>
        </div>
        <li *ngIf="it_can_be_deleted" class="list-group-item list-group-item-action">
            No hay ningún objeto que esté ubicado en esta localización
        </li>
        <div class="d-grid gap-2">
            <a *ngIf="!it_can_be_deleted" (click)="objetosPorUbicacion();" class="btn btn-secondary">Refrescar
                objetos</a>
            <a *ngIf="it_can_be_deleted" (click)="eliminarUbicacion(); cerrarModal(); abrirModal(searchLocationModal);"
                class="btn btn-danger">Eliminar ubicación</a>
        </div>
    </div>
</ng-template>