<div (click)="abrirModal(searchLocationModal)">
    <input *ngIf="location_selected==null" disabled type="text" placeholder="Seleccionar ubicación" class="form-control"
        required>
    <input *ngIf="location_selected!=null" style="" disabled type="text" placeholder="{{location_selected.location.edificio}} | {{location_selected.location.planta}} | {{location_selected.location.ubicacion}}" class="form-control"
        required>
</div>
<!-- The modalGroupObject -->
<ng-template #searchLocationModal class="modal">
    <!-- Modal content -->
    <div class="modal-content p-3">
        <h5>{{titulo_ubicacion}}</h5>
        <input [formControl]="busqueda" id="grupoDeObjetos" type="text"
            placeholder="Escribe tu búsqueda o el nombre del nuevo objeto">
        <div class="alert alert-secondary" id="alertaCreacion" role="alert">
            Escribe el nombre del objeto antes de crearlo
        </div>
        <li class="list-group-item list-group-item-action list-group-item-primary"
            onclick="if(grupoDeObjetos.value==''){ $('.alertaCreacion').alert(); return;} crearSeleccionarObjeto(-1);">
            Crea un nuevo objeto
        </li>
        <div *ngFor="let loc of locations_search">
            <li *ngIf="loc.tipo==0" style="cursor:pointer" (click)="procesarPlantas(loc)"
                class="list-group-item list-group-item-action">
                {{loc.location.edificio}}
            </li>
            <li *ngIf="loc.tipo==1" style="cursor:pointer" (click)="procesarUbicaciones(loc)"
                class="list-group-item list-group-item-action">
                {{loc.location.planta}}
            </li>
            <li *ngIf="loc.tipo==2" class="list-group-item list-group-item-action">
                <a style="cursor:pointer" (click)="this.location_selected = loc;
                this.cerrarModal(); procesarEdificios();">{{loc.location.ubicacion}}</a>
                <fa-icon *ngIf="loc.tipo==2" (click)="this.location_to_delete=loc.location; abrirModal(deleteLocationModal); objetosPorUbicacion(); " [icon]="basura" class="text-primary float-end"></fa-icon>
            </li>
            
        </div>
        <ul id="botonesGroupObject" class="list-group">
        </ul>
    </div>
</ng-template>
<!-- The modalGroupObject -->
<ng-template #deleteLocationModal class="modal">
    <!-- Modal content -->
    <div class="modal-content p-3">
        <h5>La ubicación se encuentra actualmente en uso traslada o elimina estos objetos</h5>
        <div *ngFor="let obj of objects_by_location">
            <li style="cursor:pointer" (click)="abrirObjetoVentana(obj.idObjeto)"
                class="list-group-item list-group-item-action">
                {{obj.nombre}}
            </li>
        </div>
        <div class="d-grid gap-2">
            <a *ngIf="!it_can_be_deleted" (click)="objetosPorUbicacion();" class="btn btn-secondary">Refrescar objetos</a>
            <a *ngIf="it_can_be_deleted" class="btn btn-danger">Eliminar ubicación</a>
        </div>
    </div>
</ng-template>