<div class="card border rounded p-3 m-2" style="width: 18rem;background-color:#FDF7FF;">
    <div style="width: 100%;" class="card-title">
        <ng-content select="[nombre]"></ng-content>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item bg-light">
            <b>Edificio</b>
            <a>: <ng-content select="[edificio]"></ng-content> | <b>Planta</b>: <ng-content select="[planta]">
                </ng-content> | <b>Ubicacion</b>: <ng-content select="[ubicacion]"></ng-content></a>
        </li>
        <li class="list-group-item bg-light">
            <b>Fecha adquisición</b>
            <a>: <ng-content select="[fechaAdquisicion]"></ng-content></a>
        </li>
        <li class="list-group-item bg-light">
            <b>Código</b>
            <a>: <ng-content select="[codigo]"></ng-content></a>
        </li>
        <li class="list-group-item bg-light">
            <b>Mejoras del equipo</b>
            <a>: <ng-content select="[mejorasEquipo]"></ng-content></a>
        </li>
        <ng-content select="[botones]"></ng-content>
    </ul>
</div>