<div *ngIf="usuario?.rango==0" class="row d-flex-inline justify-content-center">
    <div class="card rounded p-3 m-2" style="width: 18rem;">
        <div class="card-title">
            <h5 style="cursor:pointer" class="card-title text-dark text-center">
                Crear objetos que contiene el kit
            </h5>
        </div>
        <div class="d-grid gap-2">
            <div class="btn btn-primary btn-block" (click)="modalCrearKit(crearKitModal)">
                Crear objeto de kit
            </div>
        </div>
    </div>
</div>

<div class="container d-flex flex-wrap align-items-center">
    <!--Contenido-->
    <div *ngFor="let kit of object_kits">
        <app-kit>
            <img imagen class="card-img-top rounded-circle" src="http://localhost:3000/images/{{kit.imagen}}.jpg"
                onerror="this.src='./assets/icons/no-photo.svg'" />
            <h5 nombre class="card-title text-dark text-center">{{kit.nombre}}</h5>
            <span cantidad>{{kit.cantidad}}</span>
            <span observaciones>{{kit.observaciones}}</span>
            <div *ngIf="usuario?.rango==0" botones class="card-body d-grid gap-2">
                <div class="btn btn-secondary btn-block" (click)="modalModificarKit(crearKitModal, kit)">
                    Modificar kit
                </div>
                <div class="btn btn-light btn-block" (click)="modalBorrarKit(confirmationModal, kit)">
                    Borrar kit
                </div>
            </div>
        </app-kit>
    </div>
</div>


<!-- Modal for making a kit request -->
<ng-template #crearKitModal class=" modal">
    <!-- Modal content -->
    <div class="modal-content p-3">
        <h5>Crear objeto del kit</h5>
        <div *ngIf="imgURL" class="align-self-center" style="margin-top: auto; margin-bottom: auto;">
            <img [src]="imgURL" height="200px" />
        </div>
        <div class="col-md-12 mb-3">
            <label>Nombre:</label>
            <input type="text" [formControl]="nombre" placeholder="Tarjeta SD 32GB" class="form-control" />
        </div>
        <div class="col-md-12 mb-3">
            <label>Cantidad:</label>
            <input type="number" [formControl]="cantidad" placeholder="3" class="form-control" />
        </div>
        <div class="col-md-12 mb-3">
            <input type="file" (change)="handleFileInput($event)" class="form-control-file">
        </div>
        <div class="col-md-12 mb-3">
            <label>Observaciones:</label>
            <input type="text" [formControl]="observaciones" placeholder="SDXC 3 10" class="form-control" />
        </div>
        <div *ngIf="errorKit!=''" class="alert alert-warning my-2" role="alert">
            {{errorKit}}
        </div>
        <div *ngIf="successKit!=''" class="alert alert-success my-2" role="alert">
            {{successKit}}
        </div>
        <div class="d-grid gap-2">
            <a *ngIf="!isCreacion" class="btn btn-secondary" (click)="modificarObjetoKit()">Modificar
                objeto del kit</a>
            <a *ngIf="isCreacion" class="btn btn-secondary" (click)="crearObjetoKit()">Crear
                objeto del kit</a>
            <a class="btn btn-danger" (click)="cerrarModal()">Cancelar</a>
        </div>
    </div>
</ng-template>

<!-- Modal for deleting the group of objects -->
<ng-template #confirmationModal class="modal">
    <div class="d-grid gap-2 p-3">
        <h2>¿Seguro que quiere borrar el kit?</h2>
        <div class="btn btn-primary" boton (click)="eliminarObjetoKit()">Borrar kit
        </div>
        <a class="btn btn-danger" (click)="cerrarModal()">Cancelar</a>
    </div>
</ng-template>