<div class="card border rounded p-3 m-2" style="width: 18rem;background-color:#FDF7FF;">
    <div style="width: 100%;" class="card-title">
        <h5 class="card-title text-dark text-center">
            Configuración</h5>
    </div>
    <ul class="list-group list-group-flush">
        <ng-content select="[ip]"></ng-content>
        <ng-content select="[mac]"></ng-content>
        <ng-content select="[boca]"></ng-content>
        <ng-content select="[armario]"></ng-content>
        <ng-content select="[usuario]"></ng-content>
        <ng-content select="[contrasena]"></ng-content>
        <ng-content select="[botones]"></ng-content>
    </ul>
</div>