<div class="d-flex justify-content-center">
    <form id="formularioRecover" action="recoverPassword.php" method="post">
        <h1 id="tituloRecover" class="text-center font-weight-bold">Recuperar contraseña</h1><br>
        <div class="form-group">
            <label class="font-italic"><b>Ingresa tu correo electrónico y te enviaremos un enlace para recuperar tu
                contraseña</b></label>
            <input type="email" id="email" name="email" placeholder="Ingrese su correo electrónico" class="form-control"
                required>
        </div>
        <br>
        <div class="d-grid gap-2">
            <div type="submit" class="btn btn-primary">Recuperar contraseña</div>
            <div type="btn" class="btn btn-secondary" routerLink="/login">Volver</div>
        </div>
    </form>
</div>