<div class="row justify-content-center bg-light" style="width:22rem;">
    <div class="card bg-light position-sticky" style="height: 19rem;">
        <div *ngIf="imgURL" class="align-self-center" style="margin-top: auto; margin-bottom: auto;">
            <img [src]="imgURL" height="200px">
        </div>
        <div *ngIf="type == '0' && !imgURL" class="align-self-center">
            <span style="font-size:200px;">
                <fa-icon [icon]="cubo"></fa-icon>
            </span>
        </div>
        <div *ngIf="type == '1' && !imgURL" class="align-self-center">
            <span style="font-size:200px;">
                <fa-icon [icon]="rayo"></fa-icon>
            </span>
        </div>
        <div *ngIf="type == '2' && !imgURL" class="align-self-center">
            <span style="font-size:200px;">
                <fa-icon [icon]="caja"></fa-icon>
            </span>
        </div>
    </div>
    <div class="card-body">
        <div class="form-group">
            <div class="alert alert-warning">
                <a>Debes subir una imagen del objeto obligatoriamente</a>.
            </div>
            <label class="font-weight-bold">Imagen del objeto*</label>
            <input type="file" id="file" (change)="handleFileInput($event)" class="form-control-file">
        </div>
        <div class="form-group">
            <label class="font-weight-bold">Marca</label>
            <input type="text" [formControl]="marca" placeholder="Marca del objeto" class="form-control">
        </div>
        <div class="form-group">
            <label class="font-weight-bold">Modelo</label>
            <input type="text" [formControl]="modelo" placeholder="Modelo del objeto" class="form-control">
        </div>
    </div>
    <div *ngIf="photo_selected" class="card-body d-grid gap-2">
        <button class="btn btn-primary btn-block" (click)="createGroupOfObject()">Crear grupo de objeto</button>
    </div>
</div>