<div class="card border rounded px-3 py-3" style="width: 18rem;background-color:#FDF7FF;">
    <div style="width: 100%;" class="card-body list-group-item-primary border">
        <h5 class="card-title text-dark text-center">
            Préstamo a <ng-content select="[nombre]"></ng-content>
        </h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item bg-light">
            <b>Retirado por</b>
            <a>: <ng-content select="[retiradoPor]"></ng-content></a>
        </li>
        <li class="list-group-item bg-light">
            <b>Fecha entrega</b>
            <a>: <ng-content select="[fechaSalida]"></ng-content></a>
        </li>
        <li class="list-group-item bg-light">
            <b>Fecha estimada de entrega</b>
            <a>: <ng-content select="[fechaEstimadaEntrega]"></ng-content></a>
        </li>
        <li class="list-group-item bg-light">
            <b>Fecha de salida</b>
            <a>: <ng-content select="[fechaSalida]"></ng-content></a>
        </li>
        <li class="list-group-item bg-light">
            <b>El préstamo fue pedido el día</b>
            <a>: <ng-content select="[fechaSolicitud]"></ng-content></a>
        </li>
    </ul>
</div>