<div class="row d-flex-inline justify-content-center">
    <app-box-link style="width: fit-content;" *ngIf="usuario?.rango==0">
        <fa-icon imagen [icon]="cubo"></fa-icon>
        <button routerLink="/add-object/select-type" botones class="btn btn-primary btn-block">Crear objeto</button>
    </app-box-link>
    <app-box-link style="width: fit-content;" *ngIf="usuario?.rango==0">
        <div numero style="align-self:end; position:absolute">
            <div class="rounded-circle bg-primary text-center" style="width:40px;height:40px;"
                *ngIf="numero_solicitudes != 0">
                <p style="font-size: x-large; font-weight: bold; color:white">{{numero_solicitudes}}</p>
            </div>
        </div>
        <fa-icon imagen [icon]="solicitudes"></fa-icon>
        <button routerLink="/requests" botones class="btn btn-primary btn-block">Solicitudes</button>
    </app-box-link>
    <app-box-link style="width: fit-content;">
        <fa-icon imagen [icon]="my_loans"></fa-icon>
        <button routerLink="/my-loans" botones class="btn btn-primary btn-block">Mis préstamos</button>
    </app-box-link>
    <app-box-link style="width: fit-content;">
        <fa-icon imagen [icon]="grupo_objetos"></fa-icon>
        <button routerLink="/group-of-objects" botones class="btn btn-primary btn-block">Buscar objetos</button>
    </app-box-link>
</div>