<div class="background">
    <div class="centering justify-content-center d-flex">
        <!--Grid column-->
        <div class="col-sm-6 form-group-lg">
            <div class="col align-self-center bg-white rounded-circle">
                <h2>Muchas gracias por haberse registrado</h2>
                <p>Le hemos enviado un correo electrónico para que confirme sus datos. No olvide que después de
                    confirmarlo tiene que ser <b>dado de alta por un técnico</b>.</p>
            </div>
        </div>
    </div>
</div>