<div class="row d-flex-inline justify-content-center">
    <div class="card rounded p-3 m-2" style="width: 18rem;">
        <div class="card-title">
            <h5 style="cursor:pointer" class="card-title text-dark text-center">
                Préstamos para {{grupoObjeto?.nombre}} con id {{objeto?.idObjeto}}
            </h5>
        </div>
        <div class="d-grid gap-2">
            <div *ngIf="this.solicitudes_activas" class="btn btn-primary btn-block"
                (click)="abrirModal(crearSolicitud)">Crear solicitud
            </div>
            <div *ngIf="this.activas" class="btn btn-secondary btn-block" (click)="this.tipoSolicitud=1">Ver
                solicitudes
                activas
            </div>
            <div *ngIf="this.pendientes" class="btn btn-secondary btn-block" (click)="this.tipoSolicitud=0">Ver
                solicitudes
                pendientes
            </div>
            <div *ngIf="this.pasadas" class="btn btn-secondary btn-block" (click)="this.tipoSolicitud=-1">Ver
                solicitudes
                pasadas
            </div>
            <div *ngIf="this.rechazadas" class="btn btn-secondary btn-block" (click)="this.tipoSolicitud=-2">Ver
                solicitudes
                rechazadas
            </div>
        </div>
    </div>
</div>

<div class="row d-flex-inline justify-content-center">
    <!--Contenido-->
    <div *ngFor="let prestamo of prestamos" style="width: fit-content; padding: 0 0;">
        <app-loan *ngIf="this.tipoSolicitud==1 && prestamo.estado==1" style="width: fit-content;">
            <h5 nombre style="cursor: pointer" routerLink="/loan/{{prestamo.idPrestado}}"
                class="card-title text-dark text-center">
                Préstamo a {{prestamo.nombre}}
            </h5>
            <span retiradoPor>{{prestamo.retiradoPor}}</span>
            <span fechaSalida>{{prestamo.fechaSalida}}</span>
            <span fechaEstimadaEntrega>{{prestamo.fechaEstimadaEntrega}}</span>
        </app-loan>
        <app-pending-loan *ngIf="this.tipoSolicitud==0 && prestamo.estado==0" style="width: fit-content;">
            <h5 nombre routerLink="/loan/{{prestamo.idPrestado}}" style="cursor: pointer"
                class="card-title text-dark text-center">
                Préstamo a {{prestamo.nombre}}
            </h5>
            <span retiradoPor>{{prestamo.retiradoPor}}</span>
            <span fechaSolicitud>{{prestamo.solicitado}}</span>
            <span fechaEstimadaEntrega>{{prestamo.fechaEstimadaEntrega}}</span>
        </app-pending-loan>
        <app-completed-loan *ngIf="this.tipoSolicitud==-1 && prestamo.estado==-1" style="width: fit-content;">
            <h5 nombre routerLink="/loan/{{prestamo.idPrestado}}" style="cursor: pointer"
                class="card-title text-dark text-center">
                Préstamo a {{prestamo.nombre}}
            </h5>
            <span retiradoPor>{{prestamo.retiradoPor}}</span>
            <span fechaEntrega>{{prestamo.fechaEntrega}}</span>
            <span fechaEstimadaEntrega>{{prestamo.fechaEstimadaEntrega}}</span>
            <span fechaSalida>{{prestamo.fechaSalida}}</span>
            <span fechaSolicitud>{{prestamo.solicitado}}</span>
        </app-completed-loan>
        <app-declined-loan *ngIf="this.tipoSolicitud==-2 && prestamo.estado==-2" style="width: fit-content;">
            <h5 nombre routerLink="/loan/{{prestamo.idPrestado}}" style="cursor: pointer"
                class="card-title text-dark text-center">
                Préstamo a {{prestamo.nombre}}
            </h5>
            <span retiradoPor>{{prestamo.retiradoPor}}</span>
            <span fechaEstimadaEntrega>{{prestamo.fechaEstimadaEntrega}}</span>
            <span fechaSolicitud>{{prestamo.solicitado}}</span>
        </app-declined-loan>
    </div>
</div>




<!-- Modal for making a loan request -->
<ng-template #crearSolicitud class="modal">
    <!-- Modal content -->
    <div class="modal-content p-3">
        <h5>Crear solicitud</h5>
        <li class="list-group-item list-group-item-action">
            <div class="col-md-12 mb-3">
                <label>Retirado por:</label>
                <input type="text" [formControl]="retiradoPor" placeholder="Alejo Martín Arias Filippo"
                    class="form-control" />
            </div>
            <div class="col-md-12 mb-3">
                <label>Fecha estimada de entrega</label>
                <input type="date" [formControl]="fechaEstimadaEntrega" value="date:'yyyy-MM-dd'" class="form-control">
            </div>
        </li>
        <div class="d-grid gap-2">
            <a class="btn btn-secondary" (click)="crearPrestamo()">Crear solicitud</a>
            <a class="btn btn-danger" (click)="cerrarModal()">Cancelar</a>
        </div>
    </div>
</ng-template>