<app-vertical-navbar></app-vertical-navbar>
<div class="page-content p-5" id="content">
  <!-- Toggle button -->
  <button id="sidebarCollapse" (click)="sidebarCollapse()" type="button"
    class="btn rounded-circle shadow-sm px-4 mb-4 sidebar-button">
    <fa-icon [icon]="hide_navbar" style="font-size: 30px; margin-left: -7px;"></fa-icon>
  </button>
  <button id="sidebarCollapse" (click)="sidebarCollapse()" type="button"
    class="btn rounded-circle shadow-sm px-4 mb-4 external-button">
    <fa-icon [icon]="hide_navbar" style="font-size: 30px; margin-left: -7px;"></fa-icon>
  </button>

  <div [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>