.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
  min-height: 100vh;
}

#content.active {
  width: 100%;
  margin: 0;
}

/* Centralisation of the modal */

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  /* Could be more or less, depending on screen size */
}

@media (max-width: 992px) {
  .collapse:not(.show) {
    display: block;
  }
}

@media (max-width: 768px) {
  #content {
    margin-left: 0%;
    /*width: 100%;*/
    /*calc(100% + 17rem);*/
    height: 100%;
    min-height: 100vh;
    width: 100%
  }
  #content.active {
    transition: all 0.4s;
    width: 0%;
    margin-left: -100%;
  }
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 75%;
  }
}