<div class="card border rounded px-3 py-3" style="width: 22rem;background-color:#FDF7FF;">
    <div style="width= 100%; height: 230px;">
        <img class="card-img-top rounded-circle" src="images/objects/../../images/objects/1613063787.jpg">
    </div>
    <div style="width= 100%;" class="card-body list-group-item-primary border">
        <h5 style="cursor:pointer" class="card-title text-dark text-center" onclick="location.hash='#gobjetos-1';">
            <ng-content select="[nombre]"></ng-content>
        </h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item bg-light">
            <b>Marca</b>
            <a>:<ng-content select="[marca]"></ng-content></a>
        </li>
        <li class="list-group-item bg-light">
            <b>Modelo</b>
            <a>:<ng-content select="[modelo]"></ng-content></a>
        </li>
        <li class="list-group-item bg-light">
            <b>Cantidad</b>
            <a>:<ng-content select="[cantidad]"></ng-content></a>
        </li>
        <li class="list-group-item bg-light">
            <b>Cantidad disponible</b>
            <a>:<ng-content select="[cantidadDisponible]"></ng-content></a>
        </li>
    </ul>
    <li class="list-group-item list-group-item-primary font-weight-bold text-center">
        <ng-content select="[tipo]"></ng-content>
    </li>
</div>