<div class="card-main rounded m-2 bg-main" style="width: 19rem;">
    <div style="width: 100%;" class="p-3">
        <ng-content select="[nombre]"></ng-content>
    </div>
    <div class="m-3" style="height: 220px;background-color: rgb(255, 255, 255); border-style:inset; ">
        <ng-content select="[imagen]"></ng-content>
    </div>
    <ul class="list-group list-group-flush datos-separados">
        <li class="list-group-item-transparent">
            <b>Marca:</b>
            <a>
                <ng-content select="[marca]"></ng-content>
            </a>
        </li>
        <li class="list-group-item-transparent">
            <b>Modelo:</b>
            <a>
                <ng-content select="[modelo]"></ng-content>
            </a>
        </li>
        <li class="list-group-item-transparent">
            <b>Cantidad:</b>
            <a>
                <ng-content select="[cantidad]"></ng-content>
            </a>
        </li>
        <li class="list-group-item-transparent">
            <b>Cantidad disponible:</b>
            <a>
                <ng-content select="[cantidadDisponible]"></ng-content>
            </a>
        </li>
    </ul>
    <li class="list-group-item-transparent font-weight-bold text-center">
        <ng-content select="[tipo]"></ng-content>
    </li>
    <ng-content select="[botones]"></ng-content>
</div>