<div class="row d-flex-inline justify-content-center">
    <app-box-link style="width: fit-content;">
        <fa-icon imagen [icon]="cubo"></fa-icon>
        <a routerLink="/loan-requests" botones class="btn btn-primary btn-block">Solicitudes
            de objetos</a>
    </app-box-link>
    <app-box-link style="width: fit-content;">
        <fa-icon imagen [icon]="usuarios"></fa-icon>
        <a routerLink="/user-requests" botones class="btn btn-primary btn-block">Solicitudes de registro</a>
    </app-box-link>
</div>