<div class="vertical-nav bg-white" id="sidebar">
    <div class="px-3 mb-4 mr-10">
    </div>
    <div class="px-3 mb-4">

        <div class="media d-flex justify-content-center">
            <div class="media-body">
                <img class="img-fluid mx-auto d-block" style="width: 200px" src="./assets/img/logo_universidad.png" />
                <h5 class="m-0">
                    {{usuario?.correoElectronico}}
                </h5>
                <p *ngIf="usuario?.idUsuario==1" vclass="font-weight-light text-muted mb-0">Administrador</p>
                <p *ngIf="usuario?.rango==0 && usuario?.idUsuario!=1" vclass="font-weight-light text-muted mb-0">
                    Técnico
                </p>
                <p *ngIf="usuario?.rango==1" class="font-weight-light text-muted mb-0">Usuario</p>
            </div>
        </div>
    </div>

    <ul class="nav flex-column bg-white mb-0">
        <li class="nav-item">
            <a routerLink="/dashboard" class="nav-link text-dark font-italic bg-light">
                <fa-icon [icon]="casa" class="text-primary"></fa-icon>
                Inicio
            </a>
        </li>
    </ul>
    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-1 pt-1 mb-0">Principal</p>

    <ul class="nav flex-column bg-white mb-0">
        <li class="nav-item">
            <a routerLink="/add-object/select-type" class="nav-link text-dark font-italic bg-light">
                <fa-icon [icon]="anadir" class="text-primary"></fa-icon>
                +Añadir objeto
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/group-of-objects" class="nav-link text-dark font-italic">
                <fa-icon [icon]="grupo_objetos" class="text-primary"></fa-icon>
                Objetos
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/requests" class="nav-link text-dark font-italic">
                <fa-icon [icon]="solicitudes" class="text-primary"></fa-icon>
                Solicitudes
            </a>
        </li>
        <li *ngIf="usuario?.rango==0" class="nav-item">
            <a routerLink="/users" class="nav-link text-dark font-italic">
                <fa-icon [icon]="usuarios" class="text-primary"></fa-icon>
                Usuarios
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/configurations" class="nav-link text-dark font-italic">
                <fa-icon [icon]="ordenador" class="text-primary"></fa-icon>
                Ver equipos configurados
            </a>
        </li>
    </ul>

    <p *ngIf="usuario?.rango==0" class="text-gray font-weight-bold text-uppercase px-3 small pb-1 pt-1 mb-0">
        Administración</p>
    <ul *ngIf="usuario?.rango==0" class="nav flex-column bg-white mb-0">
        <li class="nav-item">
            <a routerLink="/add-data" class="nav-link text-dark font-italic">
                <fa-icon [icon]="casa" class="text-primary"></fa-icon>
                Ingresar datos
            </a>
        </li>
    </ul>

    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-1 pt-1 mb-0">Personal</p>
    <ul class="nav flex-column bg-white mb-0">
        <li class="nav-item">
            <a routerLink="/profile" class="nav-link text-dark font-italic">
                <fa-icon [icon]="usuario_imagen" class="text-primary"></fa-icon>
                Perfil
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/my-loans" class="nav-link text-dark font-italic">
                <fa-icon [icon]="lista" class="text-primary"></fa-icon>
                Mis préstamos
            </a>
        </li>
        <li class="nav-item">
            <a (click)="logout()" style="cursor:pointer" class="nav-link text-dark font-italic">
                <fa-icon [icon]="cerrar_sesion" class="text-primary"></fa-icon>
                Cerrar sesión
            </a>
        </li>

    </ul>
</div>
<!-- End vertical navbar -->