.vertical-nav {
    min-width: 17rem;
    width: 17vh;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
  }
  
  /* for toggle behavior */
  
  #sidebar.active {
    margin-left: -17rem;
  }
  
@media (max-width: 992px) {
  .collapse:not(.show){
    display:block;
  }
}
  @media (max-width: 768px) {
    #sidebar {
      margin-left: -100%;
    }
    #sidebar.active {
      width: 100%;
      margin-left: 0;
    }
  }