<div class="vertical-nav" id="sidebar">
    <div class="px-3 mb-4">
        <div class="media d-flex justify-content-center">
            <div class="media-body">
                <img class="img-fluid mx-auto d-block" style="width: 200px" src="./assets/img/logo_universidad.png" />
                <h5 class="m-0">
                    {{usuario?.correoElectronico}}
                </h5>
                <p *ngIf="usuario?.idUsuario==1" vclass="font-weight-light text-muted mb-0">Administrador</p>
                <p *ngIf="usuario?.rango==0 && usuario?.idUsuario!=1" vclass="font-weight-light text-muted mb-0">
                    Técnico
                </p>
                <p *ngIf="usuario?.rango==1" class="font-weight-light text-muted mb-0">Usuario</p>
            </div>
        </div>
    </div>

    <ul class="nav flex-column mb-0">
        <li class="nav-item selected_li" [ngClass]="dashboard ? 'selected-li':''">
            <a routerLink="/dashboard" (click)="changeSelection('dashboard')" class="nav-link text-dark font-italic">
                <fa-icon [icon]="casa"></fa-icon>
                Inicio
            </a>
        </li>
    </ul>
    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-1 pt-1 mb-0">Principal</p>

    <ul class="nav flex-column mb-0">
        <li class="nav-item" [ngClass]="add_object ? 'selected-li':''">
            <a routerLink="/add-object/select-type" (click)="changeSelection('add-object')"
                class="nav-link text-dark font-italic">
                <fa-icon [icon]="anadir"></fa-icon>
                +Añadir objeto
            </a>
        </li>
        <li class="nav-item" [ngClass]="objects ? 'selected-li':''">
            <a routerLink="/group-of-objects" (click)="changeSelection('group_of_objects')"
                class="nav-link text-dark font-italic">
                <fa-icon [icon]="grupo_objetos"></fa-icon>
                Objetos
            </a>
        </li>
        <li class="nav-item" [ngClass]="object_search ? 'selected-li':''">
            <a routerLink="/object-search" (click)="changeSelection('object-search')"
                class="nav-link text-dark font-italic">
                <fa-icon [icon]="lupa"></fa-icon>
                Búsqueda avanzada
            </a>
        </li>
        <li class="nav-item" [ngClass]="requests ? 'selected-li':''">
            <a routerLink="/requests" (click)="changeSelection('requests')" class="nav-link text-dark font-italic">
                <fa-icon [icon]="solicitudes"></fa-icon>
                Solicitudes
            </a>
        </li>
        <li *ngIf="usuario?.rango==0" [ngClass]="users ? 'selected-li':''" class="nav-item">
            <a routerLink="/users" (click)="changeSelection('users')" class="nav-link text-dark font-italic">
                <fa-icon [icon]="usuarios"></fa-icon>
                Usuarios
            </a>
        </li>
        <li class="nav-item" [ngClass]="devices ? 'selected-li':''">
            <a routerLink="/configurations" (click)="changeSelection('configurations')"
                class="nav-link text-dark font-italic">
                <fa-icon [icon]="ordenador"></fa-icon>
                Ver equipos configurados
            </a>
        </li>
    </ul>
    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-1 pt-1 mb-0">Administración</p>
    <ul class="nav flex-column mb-0">
        <li class="nav-item" [ngClass]="add_data ? 'selected-li':''">
            <a routerLink="/add-data" (click)="changeSelection('add-data')" class="nav-link text-dark font-italic">
                <fa-icon [icon]="upload"></fa-icon>
                Carga de datos
            </a>
        </li>
    </ul>
    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-1 pt-1 mb-0">Personal</p>
    <ul class="nav flex-column mb-0">
        <li class="nav-item" [ngClass]="profile ? 'selected-li':''">
            <a routerLink="/profile" (click)="changeSelection('profile')" class="nav-link text-dark font-italic">
                <fa-icon [icon]="usuario_imagen"></fa-icon>
                Perfil
            </a>
        </li>
        <li class="nav-item" [ngClass]="my_loans ? 'selected-li':''">
            <a routerLink="/my-loans" (click)="changeSelection('my-loans')" class="nav-link text-dark font-italic">
                <fa-icon [icon]="lista"></fa-icon>
                Mis préstamos
            </a>
        </li>
        <li class="nav-item">
            <a (click)="logout()" style="cursor:pointer" class="nav-link text-dark font-italic">
                <fa-icon [icon]="cerrar_sesion"></fa-icon>
                Cerrar sesión
            </a>
        </li>
    </ul>
</div>
<!-- End vertical navbar -->