<div class="card border rounded p-3 m-2" style="width: 18rem;background-color:#FDF7FF;">
    <div style="width: 100%;" class="card-title">
        <ng-content select="[nombre]"></ng-content>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item bg-light">
            <b>Retirado por</b>
            <a>: <ng-content select="[retiradoPor]"></ng-content></a>
        </li>
        <li class="list-group-item bg-light">
            <b>Fecha estimada de entrega</b>
            <a>: <ng-content select="[fechaEstimadaEntrega]"></ng-content></a>
        </li>
        <li class="list-group-item bg-light">
            <b>El préstamo fue pedido el día</b>
            <a>: <ng-content select="[fechaSolicitud]"></ng-content></a>
        </li>
        <p class="font-weight-bold text-center my-3">
            Préstamo rechazado
        </p>
        <ng-content select="[botones]"></ng-content>
    </ul>
</div>