<app-book-create (refresh)="updateBooks()"></app-book-create>
<div class="d-flex flex-row">
    <div *ngIf="books.length==0" class="card text-white bg-dark m-5" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Empieza a añadir libros!</h5>
        </div>
        <ul class="list-group list-group-flush">
            <img class="card-img-top"
                src="https://ep01.epimg.net/cultura/imagenes/2018/08/15/babelia/1534351691_997591_1534352892_noticia_normal.jpg"
                alt="Card image cap">
            <div class="d-flex justify-content-center">
                <fa-icon class="fa-2x" [icon]="faStar"></fa-icon>
                <fa-icon class="fa-2x" [icon]="faStar"></fa-icon>
                <fa-icon class="fa-2x" [icon]="faStar"></fa-icon>
                <fa-icon class="fa-2x" [icon]="faStar"></fa-icon>
                <fa-icon class="fa-2x" [icon]="faStar"></fa-icon>
            </div>
        </ul>
    </div>

    <!--Campo cuando hay elementos-->
    <div *ngFor="let book of books" class="card text-white bg-dark m-5" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{book.title}}</h5>
            <img class="card-img-top" src="{{book.photo}}" alt="Card image cap">
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item bg-dark"><b>Autor:</b> {{book.author}}</li>
            <li class="list-group-item bg-dark"><b>Páginas:</b> {{book.pages}}</li>
            <li class="list-group-item bg-dark" *ngIf="book.toRead!=0"><b>Leído</b> </li>
            <li class="list-group-item bg-dark" *ngIf="book.toRead==0"><b>No leído</b> </li>
            <div (click)="openStarCustomClass(contentStars, book)" class="d-flex justify-content-center">
                <fa-icon *ngIf="book.stars>0" class="fa-2x" [icon]="faStar"></fa-icon>
                <fa-icon *ngIf="book.stars>1" class="fa-2x" [icon]="faStar"></fa-icon>
                <fa-icon *ngIf="book.stars>2" class="fa-2x" [icon]="faStar"></fa-icon>
                <fa-icon *ngIf="book.stars>3" class="fa-2x" [icon]="faStar"></fa-icon>
                <fa-icon *ngIf="book.stars>4" class="fa-2x" [icon]="faStar"></fa-icon>
                <fa-icon *ngIf="book.stars<1" class="fa-2x estrella-vacia" [icon]="faStar"></fa-icon>
                <fa-icon *ngIf="book.stars<2" class="fa-2x estrella-vacia" [icon]="faStar"></fa-icon>
                <fa-icon *ngIf="book.stars<3" class="fa-2x estrella-vacia" [icon]="faStar"></fa-icon>
                <fa-icon *ngIf="book.stars<4" class="fa-2x estrella-vacia" [icon]="faStar"></fa-icon>
                <fa-icon *ngIf="book.stars<5" class="fa-2x estrella-vacia" [icon]="faStar"></fa-icon>
            </div>
        </ul>
        <div class="card-body">
            <a *ngIf="book.toRead==0" (click)="markAsRead(book.title, book.idBook, book)"
                class="card-link clickable">Marcar como leído</a>
            <a *ngIf="book.toRead==1" (click)="markAsNotRead(book.title, book.idBook, book)"
                class="card-link clickable">Marcar como no leído</a>
            <a (click)="deleteBook(book.title, book.idBook)"
                class="card-link text-secondary clickable text-center">Eliminar</a>
        </div>
        <div *ngIf="book.toRead==0" class="card-body">
            <div class="d-flex justify-content-center">
                <button (click)="openReminderCustomClass(contentReminder, book)" type="button"
                    class="btn btn-light">Planificar
                    lectura</button>
            </div>
        </div>
        <div *ngIf="book.toRead==1" class="card-body">
            <div class="d-flex justify-content-center">
                <button style="display:none;" type="button" class="btn btn-light">Boton invisible</button>
            </div>
        </div>
    </div>
</div>

<ng-template #contentReminder let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Create reminder</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span class="text-white" aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Deadline</label>
            <input type="date" class="form-control bg-white text-dark" [formControl]="dateReminder">
        </div>
        <div [style.display]="alertMessage!='' ? 'block' : 'none'" class="alert alert-warning" role="alert">
            {{alertMessage}}
        </div>
    </div>
    <div class="modal-footer">
        <div class="d-flex justify-content-center w-100">
            <button (click)="createReminder()" class="btn btn-dark btn-block m-2">Create reminder
            </button>
            <div type="button" class="btn btn-light btn-block m-2" (click)="modal.close('Close click')">Close
            </div>
        </div>
    </div>
</ng-template>

<ng-template #contentStars let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Give a score</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span class="text-white" aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="d-flex justify-content-center">
                <button type="button" class="btn" (click)="putStars(1); modal.close('Close click')">
                    <fa-icon class="fa-2x estrella-vacia" [icon]="faStar"></fa-icon>
                </button>
                <button type="button" class="btn" (click)="putStars(2); modal.close('Close click')">
                    <fa-icon class="fa-2x estrella-vacia" [icon]="faStar"></fa-icon>
                </button>
                <button type="button" class="btn" (click)="putStars(3); modal.close('Close click')">
                    <fa-icon class="fa-2x estrella-vacia" [icon]="faStar"></fa-icon>
                </button>
                <button type="button" class="btn" (click)="putStars(4); modal.close('Close click')">
                    <fa-icon class="fa-2x estrella-vacia" [icon]="faStar"></fa-icon>
                </button>
                <button type="button" class="btn" (click)="putStars(5); modal.close('Close click')">
                    <fa-icon class="fa-2x estrella-vacia" [icon]="faStar"></fa-icon>
                </button>
            </div>
        </div>
        <div [style.display]="alertMessage!='' ? 'block' : 'none'" class="alert alert-warning" role="alert">
            {{alertMessageStars}}
        </div>
    </div>
</ng-template>