<div class="d-flex justify-content-center">
    <form id="formularioLogin" method="post">
        <h1 class="text-center font-weight-bold" id="tituloLogin">Iniciar sesión</h1>
        <div class="form-group">
            <label class="font-italic">Correo electrónico</label>
            <input type="email" id="email" name="email" placeholder="Ingrese su correo electrónico" class="form-control"
                required>
        </div>
        <div class="form-group">
            <label class="font-italic">Contraseña</label>
            <input type="password" id="password" name="password" placeholder="Ingrese su contraseña"
                class="form-control" required>
        </div>
        <small id="nameHelp" class="form-text text-primary"><a
                href="http://localhost/UALInventarium/recoverPassword.php">¿Has olvidado la
                contraseña?</a></small><br>
        <input type="hidden" id="plataforma" name="plataforma" value=0 class="form-control"><br>
        <div class="form-group">
            <input type="checkbox" class="form-check-input" id="mantenerSesion">
            <label class="form-check-label" for="exampleCheck1">Mantener sesión iniciada</label>
        </div>
        <div class="d-grid gap-2">
            <div type="submit" class="btn btn-primary">Iniciar sesión</div>
            <div class="btn btn-secondary" routerLink="/register">Registrase</div>
        </div>
    </form>
</div>