<div class="d-flex justify-content-center">
    <div id="formularioRecover">
        <h1 class="text-center font-weight-bold" id="tituloRecover">Recuperar contraseña</h1>
        <div class="form-group">
            <label>Correo electrónico</label>
            <input type="email" [formControl]="email" class="form-control" placeholder="Ingrese su correo electrónico"
                required>
        </div>
        <div *ngIf="alertEmail!=''" class="alert alert-danger my-2" role="alert">
            {{alertEmail}}
        </div>
        <br>
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary btn-block" (click)="recoverPassword()">Recuperar
                contraseña</button>
            <button type="btn" routerLink="/login" class="btn btn-secondary btn-block">Volver</button>
        </div>
    </div>
</div>