<div class="d-flex justify-content-center">
    <div id="formularioRecover">
        <h1 class="text-center font-weight-bold" id="tituloRecover">Recuperar contraseña</h1>
        <div class="form-group">
            <label>Correo electrónico</label>
            <input type="email" [formControl]="email" class="form-control" placeholder="Ingrese su correo electrónico"
                required>
        </div>
        <br>
        <div class="d-grid gap-2">
            <div type="submit" class="btn btn-primary btn-block" (click)="recoverPassword()">Recuperar contraseña</div>
            <div type="btn" routerLink="/login" class="btn btn-secondary btn-block">Volver</div>
        </div>
    </div>
</div>