<div class="row d-flex-inline justify-content-center">
    <!--Contenido-->
    <div *ngFor="let go of group_of_objects" style="width: fit-content;">
        <app-group-of-object>
            <img imagen class="card-img-top rounded-circle" style="cursor:pointer"
                src="http://localhost:3000/images/{{go.imagen}}.jpg">
            <h5 nombre [routerLink]="['/group-of-object', go.idGrupoObjetos]" style="cursor:pointer"
                class="card-title text-dark text-center">{{go.nombre}}</h5>
            <span cantidad>{{go.cantidad}}</span>
            <span marca>{{go.marca}}</span>
            <span modelo>{{go.modelo}}</span>
            <span cantidadDisponible>{{go.cantidadDisponible}}</span>
            <span *ngIf="go.tipo==0" tipo>Inventario</span>
            <span *ngIf="go.tipo==1" tipo>Fungible</span>
            <span *ngIf="go.tipo==2" tipo>Kit</span>
        </app-group-of-object>
    </div>
</div>