<div class="btn btn-dark boton-anadir" (click)="openWindowCustomClass(content)">
    <fa-icon class="fa-4x" [icon]="faPlus"></fa-icon>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Create book</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span class="text-black" aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label>Name of the book</label>
                <input class="form-control" [formControl]="name" placeholder="The Ice Princess">
            </div>
            <div class="form-group">
                <label>URL of the book's photo</label>
                <input class="form-control" [formControl]="photo" placeholder="https://www.librerias-picasso.com/imagenes/9788425/978842534885.GIF">
            </div>
            <div class="form-group">
                <label>Who is the author?</label>
                <input class="form-control" [formControl]="author" placeholder="Camilla Läckberg">
            </div>
            <div class="form-group">
                <label>Number of pages</label>
                <input type="number" class="form-control" [formControl]="number" placeholder="284">
            </div>
        </form>
        <div [style.display]="alertMessage!='' ? 'block' : 'none'"class="alert alert-warning" role="alert">
            {{alertMessage}}
          </div>
    </div>
    <div class="modal-footer">
        <div class="d-flex justify-content-center w-100">
            <div type="button" class="btn btn-dark btn-block m-2" (click)="createBook()">Create book</div>
            <div type="button" class="btn btn-light btn-block m-2" (click)="modal.close('Close click')">Close</div>
        </div>
    </div>
</ng-template>