<div class="row bg-white p-3 rounded-3 m-3">
    <h3>Elige el fichero XLSX para procesar</h3>
    <div class="col-auto m-3">
        <input (change)="readExcelFile($event)" type="file" />
        <button type="button" class="btn btn-primary" (click)="processData()">Procesar datos</button>
    </div>
</div>

<div *ngIf="processed_location.length != 0" class="bg-white p-3 rounded-3 m-3">
    <h3>Indica qué ubicación corresponde a cada objeto</h3>
    <div class="m-3">
        <div *ngFor="let loc of processed_location" class="row g-3 align-items-center">
            <div class="col-auto">
                <label class="col-form-label">{{loc.nombre}}</label>
            </div>
            <div class="col-auto">
                <app-modal-location-select (send_location)="getSentLocation(loc, $event)">
                </app-modal-location-select>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary" (click)="processObjects()">Procesar objetos</button>
</div>

<div *ngIf="processed_objects.length != 0" class="bg-white p-3 rounded-3 m-3">
    <h3>Objetos a procesar</h3>
    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label class="col-form-label">Número de objetos</label>
        </div>
        <div class="col-auto">
            {{processed_objects.length}}
        </div>
    </div>
    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label class="col-form-label">Número de kits</label>
        </div>
        <div class="col-auto">
            0
        </div>
    </div>
    <button type="button" class="btn btn-primary">Crear objetos</button>
</div>