<div class="row d-flex-inline justify-content-center">
    <div class="card rounded p-3 m-2" style="width: 18rem;">
        <div class="card-title">
            <h5 style="cursor:pointer" class="card-title text-dark text-center">
                Préstamos para {{usuario?.nombre}}
            </h5>
        </div>
        <div class="d-grid gap-2">
            <button *ngIf="this.activas" class="btn btn-secondary btn-block" (click)="this.tipoSolicitud=1">Ver
                solicitudes
                activas
            </button>
            <button *ngIf="this.pendientes" class="btn btn-secondary btn-block" (click)="this.tipoSolicitud=0">Ver
                solicitudes
                pendientes
            </button>
            <button *ngIf="this.pasadas" class="btn btn-secondary btn-block" (click)="this.tipoSolicitud=-1">Ver
                solicitudes
                pasadas
            </button>
            <button *ngIf="this.rechazadas" class="btn btn-secondary btn-block" (click)="this.tipoSolicitud=-2">Ver
                solicitudes
                rechazadas
            </button>
        </div>
    </div>
</div>

<div class="row d-flex-inline justify-content-center">
    <!--Contenido-->
    <div *ngFor="let prestamo of prestamos" style="width: fit-content; padding: 0 0;">
        <app-loan *ngIf="this.tipoSolicitud==1 && prestamo.estado==1" style="width: fit-content;">
            <h5 nombre style="cursor: pointer" routerLink="/loan/{{prestamo.idPrestado}}"
                class="card-title text-dark text-center">
                {{prestamo.nombre_grupo_objetos}} con id {{prestamo.Objeto_idObjeto}}
            </h5>
            <span retiradoPor>{{prestamo.retiradoPor}}</span>
            <span fechaSalida>{{prestamo.fechaSalida}}</span>
            <span fechaEstimadaEntrega>{{prestamo.fechaEstimadaEntrega}}</span>
        </app-loan>
        <app-pending-loan *ngIf="this.tipoSolicitud==0 && prestamo.estado==0" style="width: fit-content;">
            <h5 nombre routerLink="/loan/{{prestamo.idPrestado}}" style="cursor: pointer"
                class="card-title text-dark text-center">
                {{prestamo.nombre_grupo_objetos}} con id {{prestamo.Objeto_idObjeto}}
            </h5>
            <span retiradoPor>{{prestamo.retiradoPor}}</span>
            <span fechaSolicitud>{{prestamo.solicitado}}</span>
            <span fechaEstimadaEntrega>{{prestamo.fechaEstimadaEntrega}}</span>
        </app-pending-loan>
        <app-completed-loan *ngIf="this.tipoSolicitud==-1 && prestamo.estado==-1" style="width: fit-content;">
            <h5 nombre routerLink="/loan/{{prestamo.idPrestado}}" style="cursor: pointer"
                class="card-title text-dark text-center">
                {{prestamo.nombre_grupo_objetos}} con id {{prestamo.Objeto_idObjeto}}
            </h5>
            <span retiradoPor>{{prestamo.retiradoPor}}</span>
            <span fechaEntrega>{{prestamo.fechaEntrega}}</span>
            <span fechaEstimadaEntrega>{{prestamo.fechaEstimadaEntrega}}</span>
            <span fechaSalida>{{prestamo.fechaSalida}}</span>
            <span fechaSolicitud>{{prestamo.solicitado}}</span>
        </app-completed-loan>
        <app-declined-loan *ngIf="this.tipoSolicitud==-2 && prestamo.estado==-2" style="width: fit-content;">
            <h5 nombre routerLink="/loan/{{prestamo.idPrestado}}" style="cursor: pointer"
                class="card-title text-dark text-center">
                {{prestamo.nombre_grupo_objetos}} con id {{prestamo.Objeto_idObjeto}}
            </h5>
            <span retiradoPor>{{prestamo.retiradoPor}}</span>
            <span fechaEstimadaEntrega>{{prestamo.fechaEstimadaEntrega}}</span>
            <span fechaSolicitud>{{prestamo.solicitado}}</span>
        </app-declined-loan>
    </div>
</div>