<div class="card rounded p-3 m-2">
  <div style="width:100%;" class="card-title">
    <ng-content select="[nombre]"></ng-content>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item bg-light">
      <b>Correo electrónico </b>
      <a>
        <ng-content select="[correoElectronico]"></ng-content>
      </a>
    </li>
    <li class="list-group-item bg-light">
      <ng-content select="[departamento]"></ng-content>
    </li>
    <li class="list-group-item bg-light">
      <b>Teléfono :</b>
      <a>
        <ng-content select="[telefono]"></ng-content>
      </a>
    </li>
  </ul>
  <ng-content select="[botones]"></ng-content>
  <p class="font-weight-bold text-center my-3">
    <ng-content select="[rango]"></ng-content>
  </p>
</div>