<div class="row d-flex-inline justify-content-center">
    <!--Contenido-->
    <div style="width: fit-content;">
        <app-user>
            <h5 nombre class="card-title text-dark text-center">
                {{user?.nombre}}
            </h5>
            <span correoElectronico>{{user?.correoElectronico}}</span>
            <span *ngIf="user?.departamento==0" departamento>Departamento de informática</span>
            <span *ngIf="user?.departamento==1" departamento>Ingeniería de sistemas y automática</span>
            <span *ngIf="user?.departamento==2" departamento>Lenguaje y sistemas informáticos</span>
            <span *ngIf="user?.departamento==3" departamento>Ciencias de la computación e inteligencia artificial</span>
            <span *ngIf="user?.departamento==4" departamento>Arquitectura y tecnología de computadores</span>
            <span telefono>{{user?.telefono}}</span>
            <div *ngIf="user?.rango==-1 && usuario?.rango==0" botones class="d-grid gap-2 my-2">
                <button class="btn btn-primary" (click)="darAlta()">Dar de alta</button>
                <button class="btn btn-secondary" (click)="rechazarUsuario()">Rechazar usuario</button>
            </div>
            <span *ngIf="user?.rango==-1" rango>Solicitud pendiente</span>
            <div *ngIf="user?.rango==-2 && usuario?.rango==0" botones class="d-grid gap-2 my-2">
                <button class="btn btn-primary" (click)="darAlta()">Dar de alta</button>
            </div>
            <span *ngIf="user?.rango==-2" rango>Usuario cancelado</span>
            <div *ngIf="user?.rango==1 && usuario?.rango==0" botones class="d-grid gap-2 my-2">
                <button class="btn btn-primary" (click)="convertirEnTecnico()">Convertir en técnico</button>
                <button class="btn btn-secondary" (click)="rechazarUsuario()">Eliminar usuario</button>
            </div>
            <span *ngIf="user?.rango==1" rango>Usuario</span>
            <div *ngIf="user?.rango==0 && usuario?.rango==0 && user?.idUsuario!=1" botones class="d-grid gap-2 my-2">
                <button class="btn btn-secondary" (click)="rechazarUsuario()">Eliminar usuario</button>
            </div>
            <span *ngIf="user?.rango==0" rango>Técnico</span>
        </app-user>
    </div>

    <div class="card rounded p-3 m-2" style="width: 18rem;background-color:#FDF7FF; height: fit-content;">
        <div style="width: 100%;" class="card-title">
            <h5 class="card-title text-dark text-center">
                Préstamos del usuario
            </h5>
        </div>
        <div class="card-body d-grid gap-2">
            <button class="btn btn-primary btn-block" routerLink="/loans/user/{{user?.idUsuario}}">
                Ver préstamos
            </button>
        </div>
    </div>
</div>