<div class="d-flex justify-content-center">
    <div id="formularioRegister">
        <h1 class="text-center font-weight-bold" id="tituloRegister">Registrarse</h1>
        <div class="form-group">
            <label>Nombre completo</label>
            <input [formControl]="name" type="text" class="form-control" aria-describedby="nameHelp"
                placeholder="Ingrese su nombre completo" required>
        </div>
        <div class="form-group">
            <label>Contraseña</label>
            <input type="password" [formControl]="password" class="form-control" placeholder="Ingrese su contraseña"
                required>
        </div>
        <div class="form-group">
            <label>Repita la contraseña</label>
            <input type="password" [formControl]="password2" class="form-control" placeholder="Repita su contraseña"
                required>
        </div>
        <div class="form-group">
            <label>Correo electrónico</label>
            <input type="email" [formControl]="email" class="form-control" placeholder="Ingrese su correo electrónico"
                required>
        </div>
        <div class="form-group">
            <label>Departamento</label>
            <select class="form-control" [formControl]="department">
                <option value=0>Departamento de informática</option>
                <option value=1>Ingeniería de sistemas y automática</option>
                <option value=2>Lenguaje y sistemas informáticos</option>
                <option value=3>Ciencias de la computación e inteligencia artificial</option>
                <option value=4>Arquitectura y tecnología de computadores</option>
            </select>
        </div>
        <div class="form-group">
            <label>Número de teléfono</label>
            <input type="number" [formControl]="phone" class="form-control" placeholder="Ingrese su número de teléfono"
                required>
        </div>
        <div *ngIf="alert!=''" class="alert alert-warning my-2" role="alert">
            {{alert}}
        </div>
        <div *ngIf="alertEmail!=''" class="alert alert-danger my-2" role="alert">
            {{alertEmail}}
        </div>
        <br>
        <div class="d-grid gap-2">
            <button type="submit" (click)="register()" class="btn btn-primary btn-block">Registrarse</button>
            <button type="btn" routerLink="/login" class="btn btn-secondary btn-block">Volver</button>
        </div>
    </div>
</div>