<div class="row d-flex-inline justify-content-center">
    <!--Contenido-->
    <div *ngFor="let prestamo of prestamos" style="width: fit-content;">
        <app-loan>
            <h5 nombre style="cursor: pointer" routerLink="/loan/{{prestamo.idPrestado}}"
                class="card-title text-dark text-center">
                Préstamo a {{prestamo.nombre}}
            </h5>
            <span retiradoPor>{{prestamo.retiradoPor}}</span>
            <span fechaSalida>{{prestamo.fechaSalida}}</span>
            <span fechaEstimadaEntrega>{{prestamo.fechaEstimadaEntrega}}</span>
        </app-loan>
    </div>
</div>