<div class="row d-flex-inline justify-content-center">
    <app-box-link style="width: fit-content;">
        <fa-icon imagen [icon]="cubo"></fa-icon>
        <a routerLink="/add-object/0" botones class="btn btn-primary btn-block">Añadir
            inventario</a>
    </app-box-link>
    <app-box-link style="width: fit-content;">
        <fa-icon imagen [icon]="rayo"></fa-icon>
        <a routerLink="/add-object/1" botones class="btn btn-primary btn-block">Añadir fungible</a>
    </app-box-link>
    <app-box-link style="width: fit-content;">
        <fa-icon imagen [icon]="caja"></fa-icon>
        <a routerLink="/add-object/2" botones class="btn btn-primary btn-block">Añadir kit</a>
    </app-box-link>
</div>