<div class="row d-flex-inline justify-content-center">
    <app-box-link style="width: fit-content;">
        <fa-icon imagen [icon]="cubo"></fa-icon>
        <button routerLink="/add-object/0" botones class="btn btn-primary btn-block">Añadir
            inventario</button>
    </app-box-link>
    <app-box-link style="width: fit-content;">
        <fa-icon imagen [icon]="rayo"></fa-icon>
        <button routerLink="/add-object/1" botones class="btn btn-primary btn-block">Añadir fungible</button>
    </app-box-link>
    <app-box-link style="width: fit-content;">
        <fa-icon imagen [icon]="caja"></fa-icon>
        <button routerLink="/add-object/2" botones class="btn btn-primary btn-block">Añadir kit</button>
    </app-box-link>
</div>